<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">
   
</head>
<body> 
    <nav>
<img src="image.png" alt="" class="logo">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Register</a></li>
</ul>
    </nav>
<div class="container ">
   
        <img src="bg2.jpg" alt="bubble tea" class="bg">
        <h1 class="heading">Welcome to Our B FOodi BOBa TeA !</h1>
        <p class="text-center">Come by and sip on happiness! Find us at [Your Address Here] or order online for delivery.</p>

        <div class="row">
            <div class="col-md-4">
                <img   class="images" src="tea1.jpg" alt="bubble tea" style="width:250px;height:445px;">
                <h3 class="heading">Purple Blackberry tea </h3><br>
                <span class="text-center">This is a veay Delicious tea is made by blackbarry .This is a recipe that has been going on repeat all summer in our family A vibrant purple drink with a nutty and creamy flavor.</span><br>
            </div><br>
            <div class="col-md-4">
                <img  class="images"  src="tea2.jpg" alt="bubble tea" style="width:250px;height:auto;">
                <h3 class="heading"> Passion bubble tea</h3><br>
                <span class="text-center"> This is a recipe that has been going on repeat all summer in our family .Plongez dans l'univers magique du Bubble Tea chez vous avec nos accessoires ludiques et pratiques !
                    Passion bubble tea </span><br>

            </div><br>
            <div class="col-md-4">
                <img   class="images" src="tea3.jpg" alt="bubble tea " style="width:250px;height:auto;">               
                 <h3 class="heading">Blackberry Smoothie</h3><br>
                <span class="text-center">This is a recipe that has been going on repeat all summer in our family.
                     It is such a simple and tasty (vegan and gluten-free) dessert that even my dad asked for the recipe so he could bake it him</span>
            </div><br>
            <div class="col-md-4">
                <img   class="images"  src="tea4.jpg" alt="bubble tea " style="width:250px;height:auto; align-items: center ;">               
                 <h3 class="heading" style="padding-right:10px ;">Bluberry Smoothie</h3><br>
                <span class="text-center">A creamy, indulgent, and nutritious treat, this Blueberry  blends the rich flavors of fresh blueberries. Packed with antioxidants, healthy fats, and fiber, it's the perfect drink to boost your energy and satisfy your cravings.</span>
            </div><br>
            <div class="col-md-4">
                <img  class="images"  src="tea5.jpg" alt="bubble tea " style="width:250px;height:auto;">               
                 <h3 class="heading">Chocolate Smoothie</h3><br>
                <span class="text-center">A creamy, indulgent, and nutritious treat, this Chocolate  Smoothie blends the rich flavors of fresh  decadent chocolate. Packed with antioxidants, healthy fats, and fiber, it's the perfect drink to boost your energy and satisfy your cravings.</span>
            </div><br>
            <div class="col-md-4 border-radius: 10px solid black">
                <img   class="images" src="tea6.jpg" alt="bubble tea " style="width:250px;height:auto; ">               
                 <h3 class="heading">Avocado Smoothie</h3><br>
                <span class="text-center">A creamy, indulgent, and nutritious treat, this  Avocado Smoothie blends the rich flavors of fresh  creamy avocad. Packed with antioxidants, healthy fats, and fiber, it's the perfect drink to boost your energy and satisfy your cravings.</span>
            </div>
        </div>
    </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>